    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    header {
        top: 0;
        align-items: center;
        margin: 0 auto;
        background-color: #412fb3;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        position: fixed;
        display: flex;
        color: white;
        .container {
            align-items: center;
            margin: 0 auto;
            width: 1050px;
            justify-content: space-between;
            display: flex;
        }
        img {
            height: 20px;
        }
        .menu {
            a {
                padding: 8px;
                font-size: 14px;
                padding: 0 15px;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                color: white;
            }
        }
        h1 {
            font-weight: bold;
            font-family: 'Rajdhani', sans-serif;
        }
    }
    
    main {
        margin-top: 80px;
    }
    
    .banner {
        height: 800px;
        display: flex;
        background-color: #22195b;
        .img__text {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 1050px;
            margin: 0 auto;
        }
        .text {
            padding-left: 50px;
            width: 50%;
            color: #ffffff;
            h1 {
                font-size: 50px;
                font-weight: bold;
                font-family: 'Rajdhani', sans-serif;
            }
            p {
                margin: 0px 0px 45px;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
            }
        }
        img {
            width: 50%;
        }
        .grey {
            color: #fff
        }
    }
    
    .advantages {
        margin: 0 auto;
        padding: 85px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding-left: 50px;
        max-width: 1050px;
        align-items: center
    }
    
    h2 {
        color: #3A414E;
        margin: 0;
        font-family: 'Rajdhani', sans-serif;
        margin: 0 0 10px;
        font-size: 36px;
    }
    
    p {
        color: #797979;
    }
    
    .cards {
        margin-top: 50px;
        grid-column-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        .card {
            padding: 30px 35px;
            text-align: left!important;
            align-items: left;
            background-color: #faf9ff;
            &:hover {
                background: #fff;
                box-shadow: 0px 10px 20px 0px rgba(33, 20, 106, 0.1);
            }
            h2 {
                color: black;
                font-size: 22px;
                font-family: 'Rajdhani', sans-serif;
                margin: 0 auto;
            }
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
    
    .btn {
        display: inline-block;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 24px;
        border-radius: 30px;
        transition: all .4s ease;
        &.btn-accent {
            color: #21146a;
            border: 1px solid transparent;
            color: #3a414e;
            background-color: #ffffff;
            &:hover {
                background-color: black;
                color: white;
                &.btn-primary {
                    color: #21146a;
                    border: 1px solid transparent;
                    color: #3a414e;
                    background-color: #ffffff;
                }
            }
        }
    }
    
    .img_banner {
        padding: 45px;
        background-color: #faf9ff;
        .container {
            margin: 0 auto;
            max-width: 1110px;
            display: flex;
            div {
                max-width: 462px;
                margin: 0 auto;
                p {
                    font-family: 'Roboto', sans-serif;
                }
            }
        }
    }
    
    .imgortext {
        max-width: 1110px;
        margin: 0 auto;
    }
    
    .texxt {
        max-width: 462px;
        margin: 0 auto;
    }
    
    .imgg {
        align-items: right;
    }
    
    .roboto {
        font-family: 'Roboto', sans-serif;
    }
    
    .btn-primary {
        display: inline-block;
        border: 1px solid transparent;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 24px;
        border-radius: 30px;
        background-color: #fff;
        color: #21146a;
        color: #3a414e;
        transition: all .4s ease;
        background-color: transparent;
        border-color: #21146a;
        .bnt:hover {
            background-color: #21146a;
            color: #fff;
            background-color: transparent;
            border-color: #21146a;
            color: #000022;
        }
    }
    
    .container2 {
        padding: 100px;
        height: calc(100vh - 80px);
        margin: 0 auto;
        max-width: 1100px;
        h2,
        p {
            margin: 0 auto;
            max-width: 630px;
            text-align: center;
        }
        >div {
            display: flex;
        }
        .cards {
            row-gap: 20px;
            max-width: 500px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .card {
            max-height: 196px;
            max-width: 255px;
            &:nth-of-type(even) {
                margin-top: 50px;
            }
        }
        img {
            max-width: 570px;
            margin: 0 auto;
        }
    }
    
    .baner {
        height: calc(100vh - 80px);
        display: flex;
        background: #faf9ff;
        .img__text {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 1050px;
            margin: 0 auto;
        }
        .text {
            padding-left: 50px;
            width: 50%;
            color: black;
            h1 {
                font-size: 50px;
                font-weight: bold;
                font-family: 'Rajdhani', sans-serif;
            }
            p {
                margin: 0px 0px 45px;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
            }
        }
        img {
            width: 50%;
        }
        .grey {
            color: #797979;
        }
        .btn-baner {
            display: inline-block;
            border: 1px solid transparent;
            text-transform: capitalize;
            font-size: 15px;
            font-weight: 500;
            padding: 10px 24px;
            border-radius: 30px;
            background-color: #fff;
            color: #21146a;
            color: #3a414e;
            transition: all .4s ease;
            background-color: transparent;
            border-color: #21146a;
            .btn-baner:hover {
                background-color: #21146a;
                color: #fff;
                background-color: transparent;
                border-color: #21146a;
                color: #000022;
            }
        }
    }
    
    .advantages {
        .cards {
            text-align: center;
        }
        .card {
            align-items: center;
            text-align: center;
            margin: 0 auto;
        }
        ul {
            padding: 40px 7px;
            list-style-type: none;
            border-bottom: 1px solid #ebebeb;
        }
        .money {
            padding: 40px 7px;
            border-bottom: 1px solid #ebebeb;
            color: #3A414E;
            font-weight: 700;
            font-size: 60px;
            font-family: "Roboto", sans-serif;
        }
        .card {
            text-align: center;
        }
        .btn {
            display: inline-block;
            border: 1px solid transparent;
            text-transform: capitalize;
            font-size: 15px;
            font-weight: 500;
            padding: 10px 24px;
            border-radius: 30px;
            background-color: #fff;
            color: #21146a;
            color: #3a414e;
            transition: all .4s ease;
            background-color: transparent;
            border-color: #21146a;
        }
        .btn:hover {
            background-color: #21146a;
            color: #fff;
            background-color: transparent;
            border-color: #21146a;
            color: #000022;
        }
    }
    
    .client {
        padding: 100px;
        margin: 0 auto;
        height: calc(60vh - 80px);
        background-color: #faf9ff;
        ;
        .text {
            padding: 0px 0px 150px;
            width: 630px;
            height: 50px;
            margin: 0 auto;
            text-align: center;
        }
        .white-text {
            position: relative;
            padding: 0px 15px 15px;
            width: 960px;
            height: 200px;
            background-color: white;
            margin: 0 auto;
        }
        .p2 {
            position: absolute;
            top: 80px;
            left: 44%;
        }
        .p {
            top: 120px;
            position: absolute;
        }
        .h3 {
            left: 44%;
            top: 50px;
            position: absolute;
        }
        img {
            top: -60px;
            position: absolute;
            left: 45%;
            margin: 0 auto;
            align-items: center;
        }
    }
    
    .block {
        padding: 100px;
        height: 120px;
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .imgg {
        width: 198px;
        height: 100px;
    }